<!DOCTYPE html>
<html     xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          lang="en">
<head>

    <meta charset="utf-8">

    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/navbar.css">

    <title>EDIT USER PANEL</title>

</head>
<body>
    <form class="form-horizontal" th:action="@{/admin/update}" th:method="POST"  th:object="${user}">

        <fieldset>

            <div class="control-group">

                <!-- Name -->
                <div class="controls">
                    <input type="text" id="id" name="id" value="" th:value="${user.id}"  placeholder="" class="input-xlarge disabled" readonly>
                </div>

            </div>

            <div class="control-group">
                <!-- Name -->
                <label class="control-label" for="name">name</label>
                <div class="controls">
                    <input type="text" id="name" name="name" value="" th:value="${user.name}" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Login -->
                <label class="control-label"  for="login">login</label>
                <div class="controls">
                    <input type="text" id="login" name="login" value="" th:value="${user.login}" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" value="" th:value="${user.password}" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" >role</label>
                <div class="controls">
                    <select th:name="roleId">
                        <option th:each="role : ${roles}"
                                th:value="${role.getId()}"
                                th:text="${role.getRole()}">
                        </option>
                    </select></td>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button type="submit" class="btn btn-success"> update </button>
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html>