<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Edit User's Data</title>
</head>

<body>

<div class="container">

    <h3> User's info for update below</h3>
    <hr>

<form th:action="@{/admin/edit}" th:object="${user}" method="post">
    Name
    <div th:text="${user.name}"></div>
    Login
    <div th:text="${user.login}"></div>
    Password
    <div th:text="${user.password}"></div>
    <table>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{name}"/>
        <tr>
            <td>Login
                <input type="text" th:field="*{login}"/>
            </td>
        </tr>
        <tr>
            <td>Password
                <input type="text" th:field="*{password}"/>
            </td>
        </tr>
        <tr>
            <td> Role
                <select th:name="roleId">
                    <option th:each="role : ${roles}"
                            th:value="${role.getId()}"
                            th:text="${role.role}">
                    </option>
                </select></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>

<a th:href="@{/logout}">Back to Home Page</a>

</div>

</body>
</html>