<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>USER'S INFO</title>
</head>

<body>

<h4>User's Info</h4>

<div sec:authorize="isAuthenticated()">
    Authenticated user roles:
    User ID: <span sec:authentication="principal.id"></span>
    Logged user: <span sec:authentication="name"></span>
    Roles: <span sec:authentication="principal.authorities"></span>
</div>

<br>
<a th:href="@{/logout}">Back to Home Page</a>

</body>
</html>